.banner-image {
    background-image: url('../img/1.jpg');
    background-size: cover;
    position: relative;

}

.link {
    font-size: .875rem;
    color: #6582B0;
}

.blank {
    padding-top: 40px;
    padding-bottom: 40px;
}